@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">

    <div>
        <div class="col-md-12 form-control-static">
            <h1 class="display-4">Inicio</h1>
            @Model.Date.ToString()
        </div>
    </div>
</div>
